
.logo-area{
  background-image: url(../ip2/assets/backgrounds/landing.jpg);
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 18px;
}

#HH{
  color: black;
  background-color: white;
  text-align: center;
  padding: 50px;
}

#PT{
  color:white;
  background-color: orange;
  text-align: center;
  padding: 50px;
}

#BF{
  color:white;
  background-image: url(../ip2/assets/foodtop/breakfast.jpg);
  text-align: center;
  padding: 100px;
}

#LU{
  color: white;
  background-image: url(../ip2/assets/foodtop/lunch.jpg);
  text-align: center;
  padding: 100px;
}

#DI{
  color: white;
  background-image: url(../ip2/assets/foodtop/dinner.jpg);
  text-align: center;
  padding: 100px;
}
.col-md-3{
  padding: 0px;
  margin-top: 0px
}

.horizlist{
  display: block;
  float: left;
  height: 30px;
  width: 290px;
}

.fast{
  float: left;
  padding: 100px;
  margin-left: 500px;
  width:100px;
}

.FF{
  float: right;
  padding: 50px;
  margin-right:50px;
  text-align: left;
}

.FF1{
  color: orange;
  text-align: left;
  margin-right: 40px;
  padding-left: 200px;
  border-color: orange;

}
